* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.product-items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.product-item {
  background-color: aliceblue;
  padding: 20px;
  width: 200px;

}

img {
  width: 100%;
  height: 200px;
}

.card-show {
  display: flex;
  background-color: blanchedalmond;
  gap: 20px;
}

.card img {
  width: 100px;
  height: 200px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}